{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" name="viewport" content="width=device-width" author="Daniel Carlson" email="dancarl758@gmail.com">

	<link rel="stylesheet" type="text/css" href="{% static 'ui/css/libs/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ui/css/libs/ionicons.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ui/css/main.css' %}" />
</head>
<body>
    {% block navBar %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>