{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Simple UI {% endblock %}

{% block navBar %}
<div class="navbar navbar-default" role="navigation">
      <div>
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">Logo Here</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div style="width: 90%; position: relative; left: 4%;">
      <section>
        <div class="row">
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel2">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel3">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel4">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
        </div>
      </section>
      <br><hr>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Modelo">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Campo">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Target">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By TimeStamp">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row" style="padding: 10px; position: relative; left: 4%;">
          <div class="col-sm-4">
            <button type="button" class="btn btn-success" onclick="getAllCheckBoxes()">
              ACCEPT&nbsp;
              <i style="font-size: 20px; color: white" class="icon ion-ios-redo"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-danger" onclick="getRejectedBoxes()">
              REJECT&nbsp;
              <i style="font-size: 20px; color: white" class="icon ion-android-close"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary">
              IGNORE&nbsp;
              <i style="font-size: 25px; color: white" class="icon ion-ios-trash-outline"></i>
            </button>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <center>
                <h3 class="panel-title">All Filtered Data</h3>
              </center>
            </div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Des Empresa</th>
                  <th>Vendedor</th>
                  <th>Producto</th>
                  <th>Des Marca</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in query_results %}
                <tr>
                  <td scope="row" id="res_check">
                    <div class="checkbox">
                      <label>
                        <input name="accepted_values" value={{ obj.id_modelo }} type="checkbox">
                      </label>
                    </div>
                  </td>
                  <td>{{ obj.des_empresa}}</td>
                  <td>{{ obj.vendedor }}</td>
                  <td>{{ obj.producto }}</td>
                  <td>{{ obj.des_marca }}</td>
                  <td>
                    <button class="btn btn-warning">Waiting..</button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>

              <center>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      {% if query_results.has_previous %}
                        <a class="page-link" aria-label="Previous" href="?page={{ query_results.previous_page_number }}">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      {% endif %}
                    </li>
                    <li class="page-item">
                      <span class="current">
                        Page {{ query_results.number }} of {{ query_results.paginator.num_pages }}
                      </span>
                    </li>
                    <li>
                      {% if query_results.has_next %}
                        <a class="page-link" aria-label="Next" href="?page={{ query_results.next_page_number }}">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </nav>
              </center>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="centered">
          <div class="row" style="padding: 10px; position: relative; left: 4%;">
            <div class="col-sm-4">
              <button class="btn btn-link" style="color: green; font-size: 20px;" onclick="commitChanges()">
                Commit Changes&nbsp;
                <i style="font-size: 20px; color: green" class="icon ion-ios-redo"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-link" style="color: indianred; font-size: 20px;" onclick="discardChanges()">
                Discard Changes&nbsp;
                <i style="font-size: 20px; color: indianred" class="icon ion-android-close"></i>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-link" style="color: dodgerblue; font-size: 20px;" onclick="ignoreAll()">
                Ignore All&nbsp;
                <i style="font-size: 25px; color: dodgerblue" class="icon ion-ios-trash-outline"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <br>
      <section>
        <div class="panel panel-success">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">All Accepted Data</h3>
            </center>
          </div>
          <div class="panel-body">
              <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Des Empresa</th>
                  <th>Vendedor</th>
                  <th>Producto</th>
                  <th>Des Marca</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for res in accepted_results %}
                <tr>
                  <td scope="row" id="res_check">
                    <div class="checkbox">
                      <label>
                        <input name="acc_values" value={{ res.id_modelo }} type="checkbox">
                      </label>
                    </div>
                  </td>
                  <td>{{ res.des_empresa}}</td>
                  <td>{{ res.vendedor }}</td>
                  <td>{{ res.producto }}</td>
                  <td>{{ res.des_marca }}</td>
                  <td>
                    <button class="btn btn-success">Accepted</button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>

              <center>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      {% if accepted_results.has_previous %}
                        <a class="page-link" aria-label="Previous" href="?page={{ accepted_results.previous_page_number }}">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      {% endif %}
                    </li>
                    <li class="page-item">
                      <span class="current">
                        Page {{ accepted_results.number }} of {{ accepted_results.paginator.num_pages }}
                      </span>
                    </li>
                    <li>
                      {% if accepted_results.has_next %}
                        <a class="page-link" aria-label="Next" href="?page={{ accepted_results.next_page_number }}">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </nav>
              </center>
            </div>
        </div>
      </section>
      <section>
        <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
          <div class="col-sm-4">
            <button class="btn btn-link" style="color: dodgerblue; font-size: 20px;" onclick="undoAccept()"><i style="font-size: 25px; color: dodgerblue" class="icon ion-reply"></i>&nbsp;UNDO</button>
          </div>
        </div>
      </section>
      <section>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">All Rejected Data</h3>
            </center>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Des Empresa</th>
                <th>Vendedor</th>
                <th>Producto</th>
                <th>Des Marca</th>
              </tr>
              </thead>
              <tbody>
              {% for obj in rejected_results %}
                <tr>
                  <td scope="row">
                    <div class="checkbox">
                      <label>
                        <input  name="rej_values" value={{ obj.id_modelo }} type="checkbox">
                      </label>
                    </div>
                  </td>
                  <td>{{ obj.des_empresa}}</td>
                  <td>{{ obj.vendedor }}</td>
                  <td>{{ obj.producto }}</td>
                  <td>{{ obj.des_marca }}</td>
                  <td>
                    <button class="btn btn-danger">Rejected</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <center>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      {% if rejected_results.has_previous %}
                        <a class="page-link" aria-label="Previous" href="?page={{ rejected_results.previous_page_number }}">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      {% endif %}
                    </li>
                    <li class="page-item">
                      <span class="current">
                        Page {{ rejected_results.number }} of {{ rejected_results.paginator.num_pages }}
                      </span>
                    </li>
                    <li>
                      {% if rejected_results.has_next %}
                        <a class="page-link" aria-label="Next" href="?page={{ rejected_results.next_page_number }}">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </nav>
              </center>
          </div>
        </div>
      </section>
      <section>
        <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
          <div class="col-sm-4">
            
             <button class="btn btn-link" style="color: dodgerblue; font-size: 20px;" onclick="undoRej()"><i style="font-size: 25px; color: dodgerblue" class="icon ion-reply"></i>&nbsp;UNDO</button>
          </div>
        </div>
      </section>
    </div>

    <!-- Modals -->
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="commitModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <center>
            <h4>Processing request...Please wait</h4>
            <p><img src="{% static 'ui/images/loading.gif' %}"></p>
            <div id="committing" style="display: none"><p>Committing changes...<p></div>
            <div id="don" style="display: none"><p>Done</p></div>
          </center>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="discardModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <center>
            <h4>Processing request...Please wait</h4>
            <p><img src="{% static 'ui/images/loading.gif' %}"></p>
            <div id="discarding" style="display: none"><p>Discarding changes changes...<p></div>
            <div id="done" style="display: none"><p>Done</p></div>
          </center>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}
<script>

  // TODO: Modularize code and write utility functions
  function getAllCheckBoxes(){

    var acceptedVals = [];

    $("input[name='accepted_values']:checked").each(function(){
      acceptedVals.push($(this).val());
    });

    var accepted_vals = JSON.stringify(acceptedVals);

    $.ajax({
      url: 'http://localhost:8000/accept?vals=' + accepted_vals + '&id=1',
      data: accepted_vals,
      dataType: 'json',
      success: function(data){
      }
    });

    console.log("In this function now man");
    setTimeout(function(){
      location.reload();
    }, 10000);
    
  }

  // PLEASE IGNORE REDUNDANCY.... :-)
  function getRejectedBoxes() {

     var rejectedVals = [];

     $("input[name='accepted_values']:checked").each(function(){
      rejectedVals.push($(this).val());
     });

     var rejected_vals = JSON.stringify(rejectedVals);

     $.ajax({
      url: 'http://localhost:8000/reject?vals=' + rejected_vals + '&id=2',
      data: rejected_vals,
      dataType: 'json',
      success: function(data){

      }
     });
  }

  function undoAccept(){

    var checkVals = [];

    $("input[name='acc_values']").each(function(){
      checkVals.push($(this).val());
    });


    var check_vals = JSON.stringify(checkVals);
    console.log(check_vals);

    $.ajax({
      url: 'http://localhost:8000/undo?vals=' + check_vals,
      data: check_vals,
      dataType: 'json',
      success: function(data){

      }
    });
  }

  function undoRej(){

    var cheVals = [];

    $("input[name='rej_values']").each(function(){
      cheVals.push($(this).val());
    });

    var rejected_vals = JSON.stringify(cheVals);

    $.ajax({
      url: 'http://localhost:8000/undo?vals=' + rejected_vals,
      data: rejected_vals,
      dataType: 'json',
      success: function(data){

      }
    });
  }

  function commitChanges(){
    $('#commitModal').modal({
      backdrop: 'static',
      keyboard: false
    });

    setTimeout(function(){
      $('#committing').fadeIn();
    }, 3000);

    setTimeout(function(){
      $('#don').fadeIn();
    }, 5000);

    setTimeout(function(){
      $('#commitModal').modal('hide');
    }, 8000);
  }

  function discardChanges(){
    $('#discardModal').modal({
      backdrop: 'static',
      keyboard: false
    });

    undoAccept();

    setTimeout(function(){
      $('#discarding').fadeIn();
    }, 3000);

    undoRej();

    setTimeout(function(){
      $('#done').fadeIn();
    }, 5000);

    setTimeout(function(){
      $('#discardModal').modal('hide');
    }, 8000);

    setTimeout(function(){
      location.reload();
    }, 10000);
  }

  function ignoreAll(){

  }
</script>
{% endblock %}