<!-- Add your site or application content here -->
<div style="width: 90%; position: relative; left: 4%;">
  <div class="header">
    <div class="navbar navbar-inverse" role="navigation">
      <div>
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">Logo Here</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a ng-href="#/">About</a></li>
            <li><a ng-href="#/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="col-sm-3">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel1">
            <option>Daniel</option>
            <option>Kevin</option>
            <option>Acceptado</option>
            <option>Work</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel2">
            <option>Daniel</option>
            <option>Kevin</option>
            <option>Acceptado</option>
            <option>Work</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel3">
            <option>Daniel</option>
            <option>Kevin</option>
            <option>Acceptado</option>
            <option>Work</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel4">
            <option>Daniel</option>
            <option>Kevin</option>
            <option>Acceptado</option>
            <option>Work</option>
          </select>
        </div>
      </div>
    </section>
    <br><hr>
    <section>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Filter By Number">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Filter By Number">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" id="usr" placeholder="Filter By Number">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row" style="padding: 10px; position: relative; left: 4%;">
        <div class="col-sm-4">
          <button type="button" class="btn btn-success">ACCEPT
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger">REJECT
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary">IGNORE
          </button>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">All Filtered Data</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <button type="button" class="list-group-item">Cras justo odio</button>
              <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
              <button type="button" class="list-group-item">Morbi leo risus</button>
              <button type="button" class="list-group-item">Porta ac consectetur ac</button>
              <button type="button" class="list-group-item">Vestibulum at eros</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="centered">
        <div class="row" style="padding: 10px; position: relative; left: 4%;">
          <div class="col-sm-4">
            <a href="" style="color: green; font-size: 20px;">Commit Changes</a>
          </div>
          <div class="col-sm-4">
            <a href="" style="color: indianred; font-size: 20px;">Discard Changes</a>
          </div>
          <div class="col-sm-4">
            <a href="" style="color: dodgerblue; font-size: 20px;">Ignore All</a>
          </div>
        </div>
      </div>
    </section>
    <br>
    <section>
      <div class="panel panel-success">
        <div class="panel-heading">
          <center>
            <h3 class="panel-title">All Accepted Data</h3>
          </center>
        </div>
        <div class="panel-body">
          <div class="list-group centered">
            <button type="button" class="list-group-item">Cras justo odio</button>
            <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item">Morbi leo risus</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
        <div class="col-sm-4">
          <a href="" style="color: dodgerblue; font-size: 20px;">UNDO</a>
        </div>
      </div>
    </section>
    <section>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <center>
            <h3 class="panel-title">All Rejected Data</h3>
          </center>
        </div>
        <div class="panel-body">
          <div class="list-group centered">
            <button type="button" class="list-group-item">Cras justo odio</button>
            <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
        <div class="col-sm-4">
          <a href="" style="color: dodgerblue; font-size: 20px;">UNDO</a>
        </div>
      </div>
    </section>
  </div>
</div>
