<!-- Add your site or application content here -->
<div>
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div>
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#/">Logo Here</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a ng-href="#/">About</a></li>
            <li><a ng-href="#/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div style="width: 90%; position: relative; left: 4%;">
      <section>
        <div class="row">
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel2">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel3">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel4">
              <option>Daniel</option>
              <option>Kevin</option>
              <option>Acceptado</option>
              <option>Work</option>
            </select>
          </div>
        </div>
      </section>
      <br><hr>
      <section>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Modelo">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Campo">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By Target">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="usr" placeholder="Filter By TimeStamp">
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row" style="padding: 10px; position: relative; left: 4%;">
          <div class="col-sm-4">
            <button type="button" class="btn btn-success">
              ACCEPT&nbsp;
              <i style="font-size: 20px; color: white" class="icon ion-ios-redo"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-danger">
              REJECT&nbsp;
              <i style="font-size: 20px; color: white" class="icon ion-android-close"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary">
              IGNORE&nbsp;
              <i style="font-size: 25px; color: white" class="icon ion-ios-trash-outline"></i>
            </button>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <center>
                <h3 class="panel-title">All Filtered Data</h3>
              </center>
            </div>
            <div class="panel-body">
              <table class="table">
                <thead class="thead-inverse">
                <tr>
                  <th>Des Empresa</th>
                  <th>Vendedor</th>
                  <th>Producto</th>
                  <th>Des Marca</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Zack</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">Saurer</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">Tobby</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="centered">
          <div class="row" style="padding: 10px; position: relative; left: 4%;">
            <div class="col-sm-4">
              <a href="" style="color: green; font-size: 20px;">Commit Changes</a>
              &nbsp;
              <i style="font-size: 20px; color: green" class="icon ion-ios-redo"></i>
            </div>
            <div class="col-sm-4">
              <a href="" style="color: indianred; font-size: 20px;">Discard Changes</a>
              &nbsp;
              <i style="font-size: 20px; color: indianred" class="icon ion-android-close"></i>
            </div>
            <div class="col-sm-4">
              <a href="" style="color: dodgerblue; font-size: 20px;">Ignore All</a>&nbsp;
              <i style="font-size: 25px; color: dodgerblue" class="icon ion-ios-trash-outline"></i>
            </div>
          </div>
        </div>
      </section>
      <br>
      <section>
        <div class="panel panel-success">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">All Accepted Data</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="list-group centered">
              <button type="button" class="list-group-item">Cras justo odio</button>
              <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
              <button type="button" class="list-group-item">Morbi leo risus</button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
          <div class="col-sm-4">
            <i style="font-size: 25px; color: dodgerblue" class="icon ion-reply"></i>
            <a href="" style="color: dodgerblue; font-size: 20px;">UNDO</a>
          </div>
        </div>
      </section>
      <section>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">All Rejected Data</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="list-group centered">
              <button type="button" class="list-group-item">Cras justo odio</button>
              <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row centered" style="padding: 10px; position: relative; left: 45%;">
          <div class="col-sm-4">
            <i style="font-size: 25px; color: dodgerblue" class="icon ion-reply"></i>
            <a href="" style="color: dodgerblue; font-size: 20px;">UNDO</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
